  <h2>Company Import Triger</h2>

  <%= render partial: 'cit_records/tabs', locals: { cit_records_0s: @cit_records_0s,
                                                cit_records_1s: @cit_records_1s,
                                                cit_records_2s: @cit_records_2s,
                                                cit_records_3s: @cit_records_3s,
                                                cit_records_4s: @cit_records_4s,
                                                cit_records_5s: @cit_records_5s}%>


<br/><br/><br/>