 
 <form method="get" action="/cit_interface">
<br>
    <div class="row">
      <div class="col-md-4">
        <h5>Company Import Triger (CIT)</h5>
      </div>
      <div class="col-md-6">
        <div class="d-flex flex-row">
        <label class="form-label"><strong>Filter by:</strong></label>
        <select name="filter_by" class="form-control ml-2 mr-sm-2" aria-label="Search">
          <option selected disabled>Select an option</option>
          <option value="products">Companies with Products</option>
          <option value="parent">Parent Companies</option>
          <option value="subsidiary">Subsidiary Companies</option>
          <option value="all">All Companies</option>
        </select>
      </div>
      </div>
      <div class="col-md-2">
           <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Apply Filter" />
      </div>
    </div>
</form>
   

  <%= render partial: 'cit_records/tabs', locals: { cit_records_0s: @cit_records_0s,
                                                cit_records_1s: @cit_records_1s,
                                                cit_records_2s: @cit_records_2s,
                                                cit_records_3s: @cit_records_3s,
                                                cit_records_4s: @cit_records_4s,
                                                cit_records_5s: @cit_records_5s}%>


<br/><br/><br/>