  <h3>Company Interface</h3>

  <div class="form-group">
    <label> Company name: </label>
    <input value="<%= @cit_record.company_name%>" class="form-control" readonly />
  </div>

  <div class="form-group">
    <label> Company MID: </label>
    <input value="<%= @cit_record.mid%>" class="form-control" readonly />
  </div>
    
  <div class="form-group">
    <label> Company ID: </label>
    <input value="<%= @cit_record.company_id%>" class="form-control" readonly />
  </div>

    <%= render partial: 'cit_records/capture_tabs', locals: { 
                                                company: @company,
                                                cit_record: @cit_record,
                                                company_contact: @company_contact,
                                                industry_category_types: @industry_category_types,
                                                industry_category_type: @industry_category_type
    }%>


<br/><br/><br/>

