  <h3>Company Capture Interface</h3>


    <%= render partial: 'cit_records/capture_tabs', locals: { 
                                                company: @company,
                                                cit_record: @cit_record,
                                                company_contact: @company_contact,
                                                industry_category_types: @industry_category_types,
                                                industry_category_type: @industry_category_type
    }%>


<br/><br/><br/>