


<div class="row d-flex justify-content-around mt-5">
    <%= link_to 'Back', cit_interface_path, class: "btn btn-lg btn-secondary", style:"font-weight: bold; font-size:20px;" %> 
    <%= link_to 'Next', cit_record_company_capture_interface_path(cit_record_id: @cit_record.id), class: "btn btn-lg", style:"background-color: #167c4c; color: white; font-weight: bold; font-size:20px;" %>
</div>