
<p>
  <strong>Site code:</strong>
  <%= @social_site.site_code %>
</p>

<p>
  <strong>Site:</strong>
  <%= @social_site.site %>
</p>

<%= link_to 'Edit', edit_social_site_path(@social_site) %> |
<%= link_to 'Back', social_sites_path %>
