<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Croupier</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container {
            width: 100%;
            max-width: 800px;
            margin: 20px auto;
            background: #ffffff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }
        h1 {
            color: #333333;
        }
        p {
            color: #555555;
        }
        .footer {
            text-align: center;
            margin-top: 20px;
            font-size: 12px;
            color: #aaaaaa;
        }
        .logo {
            text-align: center;
            margin-bottom: 20px;
        }
        .logo img {
            max-width: 200px;
            height: 60px;
        }
        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff !important;
            text-decoration: none;
            border-radius: 5px;
            margin-top: 20px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="https://app-assets-bkt.s3.eu-north-1.amazonaws.com/logo.jpg" alt="Logo" />
        </div>
        <h3>Welcome to Croupier147</h3>
        <p>Dear <%= @user.username %>,</p>
        <p>Thank you for joining us! We are thrilled to have you on board.</p>
        <p>Explore our website for more information and resources:</p>
        <p><a href="<%= @url %>" class="button">Visit Our Website</a></p>
        <div class="footer">
            <p>If you have any questions, feel free to reach out to us.</p>
            <p>Best Regards,<br>The Croupier147 Team</p>
        </div>
    </div>
</body>
</html>