

<p>
  <strong>Role:</strong>
  <%= @company_contact_type.role %>
</p>

<p>
  <strong>Definition:</strong>
  <%= @company_contact_type.definition %>
</p>

<%= link_to 'Edit', edit_domains_companies_company_contact_type_path(@company_contact_type) %> |
<%= link_to 'Back', domains_companies_company_contact_types_path %>
