<h3>Editing Attribute Value</h3>

<%= render 'form', attribute_value: @attribute_value %>

<%= link_to 'Show', @attribute_value %> |
<%= link_to 'Back', domains_classifications_attribute_values_path %>
