

<p>
  <strong>Employee:</strong>
  <%= @employee_type.employee %>
</p>

<p>
  <strong>Definition:</strong>
  <%= @employee_type.definition %>
</p>

<%= link_to 'Edit', edit_domains_companies_employee_type_path(@employee_type) %> |
<%= link_to 'Back', domains_companies_employee_types_path %>
