<h3>Editing Brick</h3>

<%= render 'form', brick: @brick %>

<%= link_to 'View', @brick %> |
<%= link_to 'Back', domains_classifications_bricks_path(
                                      page: params[:page], 
                                      klass_id: params[:klass_id],
                                      search_query: params[:search_query],
                                      p_cat_id: params[:p_cat_id]) %>
