

<p>
  <strong>Gender:</strong>
  <%= @gender_type.gender %>
</p>

<p>
  <strong>Definition:</strong>
  <%= @gender_type.definition %>
</p>

<%= link_to 'Edit', edit_gender_type_path(@gender_type) %> |
<%= link_to 'Back', gender_types_path %>
