  <h2>Product Import Triger</h2>

  <%= render partial: 'pit_records/tabs', locals: { pit_records_0s: @pit_records_0s,
                                                pit_records_1s: @pit_records_1s,
                                                pit_records_2s: @pit_records_2s,
                                                pit_records_3s: @pit_records_3s,
                                                pit_records_4s: @pit_records_4s,
                                                pit_records_5s: @pit_records_5s}%>


<br/><br/><br/>