  <h3>Product Interface</h3>

  <div class="form-group">
      <label> Barcode: </label>
      <input value="<%= @pit_record.barcode%>" class="form-control" readonly />
    </div>
    <div class="form-group">
      <label> Product ID: </label>
      <input value="<%= @pit_record.product_id%>" class="form-control" readonly />
    </div>

    <%= render partial: 'pit_records/capture_tabs', locals: { 
                                                product: @product,
                                                pit_record: @pit_record,
                                                segments: @segments,
                                                product_category_sources: @product_category_sources
    }%>


<br/><br/><br/>