  <h3>Product Capture Interface</h3>


    <%= render partial: 'pit_records/capture_tabs', locals: { 
                                                product: @product,
                                                pit_record: @pit_record,
                                                segments: @segments,
                                                product_category_sources: @product_category_sources
    }%>


<br/><br/><br/>