<h1>Editing Company Contact Type</h1>

<%= render 'form', company_contact_type: @company_contact_type %>

<%= link_to 'Show', @company_contact_type %> |
<%= link_to 'Back', company_contact_types_path %>
