<h1>Edit Company</h1>
<br/>
<%= render 'form_edit', company: @company %>

<br/>
<%= link_to 'View', @company, class:"btn btn-secondary" %> 
<%= link_to 'Back', companies_path, class:"btn btn-dark" %>



