

<p>
  <strong>Relationship:</strong>
  <%= @company_relationship_type.relationship %>
</p>

<p>
  <strong>Definition:</strong>
  <%= @company_relationship_type.definition %>
</p>

<%= link_to 'Edit', edit_company_relationship_type_path(@company_relationship_type) %> |
<%= link_to 'Back', company_relationship_types_path %>
