<h1>Editing Website Message</h1>

<%= render 'form', website_message: @website_message %>

<%= link_to 'Show', @website_message %> |
<%= link_to 'Back', domains_website_data_website_messages_path %>
<br/>