<h1>Edit Industry Category Type</h1>

<%= render 'form', industry_category_type: @industry_category_type %>

<%= link_to 'Show', @industry_category_type %> |
<%= link_to 'Back', industry_category_types_path %>
