<h3>Editing Product Category Source</h3>

<%= render 'form', product_category_source: @product_category_source %>

<%= link_to 'Show', @product_category_source %> |
<%= link_to 'Back', product_category_sources_path %>
