<ul class="nav nav-tabs">

  <li class="nav-item">
  <!--
    <a class="nav-link active" href="#">Products</a>
    -->
    <%= link_to 'Products', '/prodlist', class: "nav-link active" %>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Relationships</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Contacts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Ethnicity Stats</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Gender Stats</a>
  </li>
</ul>