<h3>Editing Capture History</h3>

<%= render 'form', capture_history: @capture_history %>

<%= link_to 'Show', @capture_history %> |
<%= link_to 'Back', domains_croupier_core_capture_histories_path %>
